html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
}

.swagger-ui .topbar {
    background-color: white;
    padding: 10px 0;
}

.swagger-ui .info .title small pre {
    color: gray;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}